*{
	margin: 0; padding: 0
}

body{
	font-family: "MicroSoft Yahei"; font-size: 14px;
}

ul li,li{
	list-style: none;
}

a{
	text-decoration: none;
}

/* nav */
.nav li{
	height: 55px; line-height: 55px; border-bottom: 1px solid #eee;
}
.nav li a{
	display: block; height: 100%; color: #666; padding-left: 10px;
}
.nav li a:hover{
	color: #e74e3d; text-decoration: underline; border-left: 3px solid #e74e3d;
}
.nav li a span{
	font-size: 12px; color: #999;
}
.nav li a:hover span{
	color: #e74e3d;
}