/* base css */
*,*:after,*:before{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html,body,div,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,table,tr,th,td,strong,b,i,em,span{ margin: 0; padding: 0;}
body,button,input,select,textarea{ font-size: 12px; line-height: 18px; font-family:"Microsoft YaHei";}
li{ list-style:none;}
a{ text-decoration:none; outline: none; color: #333;}
a:hover{ text-decoration:underline; color: #d44950;}
input,textarea,select,a:focus{ outline: none;}
textarea{ resize:none;}
img{ vertical-align:top; border:0; *margin-bottom:-5px;}


/* float clearfix */
.l{ display: block; float: left;}
.c{ display: block; float: left;}
.r{ display: block; float: right;}
.left{ display: block; float: left;}
.center{ display: block; float: left;}
.right{ display: block; float: right;}
.clearfix { *zoom: 1;}
.clearfix:before,.clearfix:after{ display: table; height:0; line-height: 0; content: "";}
.clearfix:after{ clear: both;}