// disclosure
.disclosure{
	padding:0 1.5rem 3rem 1.5rem;
	h3{
		margin:2.5rem 0 0 0;
		text-align:center;
		font-size:1.6rem;
		font-weight:bolder;
	}
	dl{
		margin-top:2.2rem;
		dt{

		}
		dd{
			color:#666;
			line-height:2.5rem;
		}
	}
	.copyright{
		margin-top:2.5rem;
	}
}