body{
	background-color:#f4f4f4;
	color:#333;
	font-size:12px;
}

.w1100{
	width:1100px;
	margin:0 auto;
}

.m-b15{
	margin-bottom:15px;
}

.hide{
	display:none;
}
.bg-fff{
	background-color:#fff;
}

.btn-h38{
	display: block;
	width: 100%;
	height: 38px;
	background: #e74e3d;
	line-height: 38px;
	font-size: 14px;
	border-radius: 3px;
	color: #fff;
	text-align: center;
}

/* top */
.top{
	height:36px;
	line-height:36px;
	color:#ddd;
	background-color:#252c34;
	ul{
		li{
			a{
				color:#ddd;
				margin:0 7px;
			}
			a:hover{
				color:#fff;
			}
		}
		li:last-child{
			a{
				margin-right:0px;
			}
		}
	}
}

/* head */
.head{
	.w1100{
		height:80px;
		line-height:80px;
		.logo{
			width:270px;
			img{
				width:150px;
				margin:20px 0 0 20px;
			}
		}
		.allMoney{
			font-size:12px;
			color:#999;
			span{
				margin-right:4px;
				font-size:20px;
				font-weight:bolder;
				color:#e74e3d;
			}
		}
		.menu{
			a{
				height:80px;
				width:100px;
				margin:0 0 0 15px;
				font-size:14px;
				text-align:right;
			}
			a:hover,a.selected{
				color:#e74e3d;
			}
		}
	}
}

.banner{
	height:450px;
	background:url(../images/banner.jpg) center #ddd;
}

.bottom{
	height:36px;
}

// index
.index{
	margin:20px auto 30px auto;
	.l{
		width: 250px;
		h4{
			line-height:42px;
			font-size:14px;
			padding-left:15px;
			border-bottom:1px solid #f4f4f4;
			i{
			padding:0 2px 10px 2px;
				border-bottom:2px solid #e74e3d;
			}
		}
		.index-draw{
			height:260px;
			margin-bottom:20px;
			border:1px solid #efefef;
		}
		.index-record{
			margin-bottom:20px;
			border:1px solid #efefef;
			a:hover{
				text-decoration:none;
			}
			dl{
				padding:0 15px;
				padding-top:15px;
				height:80px;
				border-bottom:1px dotted #ddd;
				dt{
					line-height:25px;
					i.left{
						width:25px;
						height:25px;
						margin-right:10px;
						margin-top:2px;
						background-color:#ddd;
						border-radius:50%;
					}
					em.left{
						font-size:14px;
						color:#666;
						span{
							font-size:12px;
							margin-left:10px;
							color:#999;
						}
					}
				}
				dd{
					color:#999;
					margin:4px 0 0 35px;
				}
			}
			dl:last-child{
				border:none;
			}
			dl:hover{
				background-color:#f3f7fb;
			}
		}
		.index-news{
			border:1px solid #efefef;
			dl{
				height:75px;
				padding:12px 0 0 2px;
				margin:0 15px;
				border-bottom:1px dotted #ddd;
				dt{
					a{
						font-size:14px;
						line-height:30px;
					}
				}
				dd{
					color:#999;
				}
			}
			dl:hover{
				border-bottom:1px dotted #aaa;
			}
			dl:last-child{
				border:none;
			}
			a:hover{
				color:#e74e3d;
			}
		}
	}
	.r{
		width: 835px;
		.index-list{
			position:relative;
			margin-bottom:20px;
			height:260px;
			.left{
				width:510px;
				height:260px;
				background-color:#ddd;
				img{
					height:100%;
					width:100%;
				}
			}
			.right{
				width:300px;
			}
			.status{
				position:absolute;
				width:115px;
				height:38px;
				line-height:38px;
				text-align:center;
				color:#fff;
				left:0;
				top:0;
				opacity:0.9;
				background-color:#e74e3d;
			}
			.index-list-info{
				padding:0 25px;
				h3{
					font-size: 16px;
					line-height: 25px;
					margin: 20px 0 10px 0;
				}
				h5{
					line-height:26px;
					span{
						color:#e74e3d;
						font-weight:bolder;
						font-size:16px;
						margin-right:3px;
					}
				}
				.peoples{
					line-height:19px;
					margin:0 0 17px 1px;
					span{
						font-weight:bolder;
						color:#e74e3d;
					}
				}
				.progress{
					position:relative;
					margin:20px 0;
					height:5px;
					border-radius:1px;
					background-color:#ddd;
					.progressNum{
						position:absolute;
						width:30%;
						height:5px;
						top:0;
						left:0;
						border-radius:1px;
						background-color:#e74e3d;
					}
				}
				p{
					a:hover{
						color:#fff;
						opacity:0.9;
						text-decoration:none;
					}
				}
				a:hover{
					color:#e74e3d;
				}
			}
		}
		.index-list:hover{
			box-shadow: 0 3px 12px #ccc;
		}
	}
}

// page
.page{ 
	margin-top: 25px; 
	margin:50px 0 30px 0;
	ul{
		li{
			a{
				width: 50px; height: 28px; margin: 0 4px; line-height: 28px; text-align: center; color: #6c6c6c; background: #fff; border-radius: 2px;
			}
			a:hover,.selected{
				 background: #e74e3d; color: #fff;
			}
		}
	}
}

// list
.list-container{
	.list-one{ 
		display: block; 
		float: left; 
		width: 356px; 
		height: 410px; 
		border-bottom: 4px solid #eee; 
		margin: 20px 15px 0 0; 
		font-size: 14px; 
		background: #fff; 
		box-shadow: 0 2px 8px #eee; 
		position: relative; 
		cursor: pointer;
		a:hover{ 
			color: #e74e3d;
		}
		.product_pic{
			 width: 356px; 
			 height: 237px;
			 img{
			 	width:100%;
			 	height:100%;
			 }
		}
		.product_name{ 
			height: 27px; 
			line-height: 27px; 
			font-size: 17px; 
			font-weight: bolder; 
			margin: 22px 0 15px 15px;
		}
		.product_price{ 
			margin: 10px 0 0 15px;
		}
		.product_subscribe{ 
			width: 80px; 
			height: 30px; 
			line-height: 28px; 
			margin: 14px 0 0 15px; 
			border-radius: 3px; 
			text-align: center; 
			color: #fff; 
			background-color: #e74e3d;
		}
	}
	.list-one:hover{ 
		box-shadow: 0 3px 12px #ccc; 
		border-bottom: 4px solid #ccc; 
		text-decoration: none;
		.product_subscribe{
			opacity: 0.9;
		}
	}
	.list-one:nth-child(3n){ 
		margin: 20px 0 0 2px;
	}
}