// base
body{
	background:#f1f1f1;
}
.w1100{
	width:1100px;
	margin:0 auto;
}

// top
.top{
	height:36px;
	background:#f9f9f9;
	border-bottom:1px solid #e8e8e8;
}

// head
.head{
	height:80px;
	background:#fff;
	.logo{
		img{
			margin: 17px 0 0 0;
		}
	}
	.nav{
		a{
			width: 140px;
			height:80px;
			text-align: center;
			line-height: 80px;
			font-size:14px;
		}
		a:hover,.selected{
			height: 92px;
			text-decoration:underline;
			background: #3575e1;
			color: #fff;
		}
	}
}

// banner
.banner{
	height:450px;
	background:#666;
	// background:url(../images/banner.jpg) top center no-repeat;
}

// guide
.guide{
	margin-top:30px;
	height:72px;
	background:#3575e1;
	form{
		font-size: 14px;
		color: #fff;
		.l{
			margin-right: 12px;
		}
		label{
			line-height:36px;
		}
		select{
			width: 152px;
			height: 25px;
			line-height: 25px;
			border:1px solid #fff;
			color: #696969;
		}
		input{
			width: 152px;
			height: 25px;
			line-height: 25px;
			padding: 0 5px;
			border:1px solid #fff;
			color: #666;
		}
		a{
			display: block;
			width: 120px;
			height:47px;
			margin-top: 14px;
			line-height:47px;
			text-align: center;
			border:none;
			color: #fff;
			font-size:14px;
			background:#c23d2e;
		}
		a:hover{
			opacity: 0.9;
		}
		.r{
			width:309px;
			height:72px;
			line-height: 72px;
			text-align: center;
			background:#c23d2e;
			font-size: 18px;
		}
	}
}

// main
.main{
	margin-bottom:105px;
	padding-bottom:1px;
	background:#fff;
	h3{
		margin: 0 35px 10px 35px;
		font-size:22px;
		font-weight: bolder;
		text-align: left;
		color: #888;
		a{
			display: inline-block;
		}
		span{
			font-size:14px;
			color: #aaa;
			font-style:italic;
			font-weight: bolder;
		}
	}

	// line
	.line{
		height: 7px;
		margin-bottom: 30px;
		background: url(../images/line.png) top center repeat-x;
	}

	//cases
	.case{
		dl{
			display: block; 
			float: left; 
			width: 320px; 
			height: 350px; 
			margin: 10px 0 0 35px;
			dt img{
				width: 318px; 
				height: 193px; 
				border:2px solid #fff;
			}
		}
		a{ 
			color: #666;
		}
		.case-t{ 
			height: 45px; 
			line-height: 45px; 
			font-size: 16px; 
			color: #444;
		}
		.case-more{ 
			margin-top: 20px;
			a{ 
				padding: 6px 15px; 
				background: #e8e8e8; 
				color: #888;
			}
			a:hover{ 
				background: #3575e1; 
				color: #fff;
			}
		}
	}

	//news
	.news{
		padding-bottom:40px;
		.l{
			width: 480px;
			margin-left: 36px;
		}
		.r{ 
			margin-right: 36px;
			width:480px;
		}
		ul{
			margin-top: 15px;
			li{
				padding-left:13px;
				height: 42px;
				line-height: 42px;
				font-size: 14px;
				border-bottom:1px dotted #ddd;
				background:url(../images/li_style.jpg) no-repeat 0 19px;
				span{
					float: right;
					color: #999;
				}
			}
			li:hover{
				border-bottom:1px solid #ddd;
			}
		}
	}

	// ad
	.ad{
		height:150px;
		margin:0 35px 35px 35px;
		background-color:#ddd;
	}

}

// bottom
.bottom{
	height: 350px;
	background-color: #181818;
	.w1100{
		position: relative;
	}
	ul{
		padding-top: 50px;
		li{
			float: right;
			margin-left: 35px;
			padding-right: 35px;
			line-height: 24px;
			border-right: 1px solid #262626;
			a:hover{
				color: #c8c8c8;
			}
		}
	}
	.erweima{
		position: absolute;
		top: -45px;
		left: 0;
		width: 280px;
		height: 320px;
		background-color: #212121;
		p{
			margin-top: 45px;
			text-align: center
		}
	}
	.erweima-info{
		position: absolute;
		right: -15px;
		bottom: 40px;
		width: 270px;
		height: 50px;
		padding-left: 20px;
		line-height: 50px;
		font-size: 14px;
		color: #999;
		background-color: #292929;
	}
}

// footer
.footer{
	height: 46px;
	line-height: 46px;
	text-align: center;
	background-color: #0f0f0f;
}

/**************************************** 
list.html
****************************************/
.list{ 
	margin: 20px auto 100px auto; 
	border-radius: 2px 2px 0 0;
	.l{
		background: #fff; 
		width: 780px; 
		padding-bottom: 30px;
		/*position*/
		.position{ 
			height: 44px; 
			line-height: 44px; 
			padding-left: 12px; 
			border-bottom: 1px solid #eee; 
			color: #777;
			a{ 
				display: inline-block; 
				color: #777; 
				margin: 0 3px;
			}
			a:hover{ 
				color: #c23d2e;
			}
		}
		/*list-con*/
		.list-con{
			dl{
				display:block; 
				height:155px; 
				border-bottom:1px solid #eee; 
				border-left:5px solid #fff; 
				padding:0 15px;
				a{ 
					text-decoration:none;
					dt{ 
						padding-top:3px;
						height: 60px;
						line-height: 60px;
						font-size: 18px;
						color:#555; 
						font-family:"Microsoft YaHei";
					}
				}
				a:hover{
					dt{ 
						color:#333;
					}
				}
				dd{ 
					height: 30px; 
					margin-bottom:10px;
					span{ 
						float: left; 
						margin:0 15px 0 0; 
						color:#666;
					}
				}
				p{ 
					line-height:18px; 
					color:#666;
				}
			}
			dl:hover{ 
				background:#fafafa; 
				border-left:5px solid #c23d2e;
			}
		}
		// page
		.page{ 
			text-align:right; 
			height:40px; 
			line-height:40px; 
			margin:45px 25px 25px 0;
			li{ 
				display: inline-block;
				a{ 
					display: inline-block; 
					margin:0 9px; 
					color:#666; 
					font-size: 14px;
				}
				a:hover{ 
					color:#c23d2e;
				}
			}
			.thisclass{
				a{
					color:#c23d2e;
				} 
			}
		}
	}
	.r{ 
		width: 310px; 
		background: #fff; 
		padding: 0 15px;
		// list-contact
		.list-contact{
			dl{
				text-align: center;
				margin-bottom: 30px;
				dt{
					margin: 35px 0 10px 0;
				}
				dd{
					line-height: 22px;
				}
			}
		}
		.subnav {
			padding: 0;
			margin-bottom: 15px;
			li{
				padding: 0 5px;
			}
			a{
				display: block;
				height: 32px;
				line-height: 32px;
				padding-left: 10px;
				margin: 0 0 9px 0;
				color: #888;
				background: #e8e8e8;
			}
			a:hover {
				background: #c23d2e;
				color: #fff;
				text-decoration: none;
			}
		}

		h3{ 
			font-size: 16px; 
			display: block; 
			height: 44px; 
			line-height: 44px; 
			margin-bottom: 15px; 
			padding-left: 1px; 
			border-bottom: 1px solid #eee; 
			color: #555;
		}
		nav{
			li{
				padding: 0 5px;
				a{ 
					display: block; 
					height: 32px; 
					line-height: 32px; 
					padding-left: 10px; 
					margin: 0 0 9px 0; 
					color: #888; 
					background: #e8e8e8;
				}
				a:hover{ 
					background: #1abc9c; 
					color: #fff; 
					text-decoration: none;
				}
			} 
		}
		/*tj-new*/
		.tj-new{ 
			padding-bottom: 10px;
			li{ 
				display: block; 
				height: 30px; 
				line-height: 30px; 
				padding-left: 20px; 
				background: url(../images/li_style.jpg) no-repeat 8px 12px;
				span{ 
					float: right; 
					color: #999;
				}
				a{ 
					color: #555;
				}
				a:hover{ 
					color: #c23d2e; 
					text-decoration: underline;
				}
			}
		}
		/*tj-zhuti*/
		.tj-zhuti{ 
			margin-bottom: 15px; 
			text-align: center;
			dd{ 
				line-height: 30px; 
				font-size: 14px;
				a:hover{ 
					color: #1abc9c;
				}
			}
			img{ 
				width: 255px; 
				height: 155px; 
				border:2px solid #fff;
			}
			img:hover{ 
				border:2px solid #c23d2e;
			}
		}
	}
}

/**************************************** 
content.html
****************************************/
.show{ 
	min-height:700px;
	h3{ 
		height:40px; 
		line-height:40px; 
		margin:40px 0 10px 0; 
		font-size:30px; 
		color:#444; 
		text-align:center; 
		font-family:"Microsoft YaHei";
	}
	h4,h5{ 
		line-height:40px; 
		line-height:40px; 
		color:#999; 
		text-align:center;
	}
	h4{
		i{ 
			margin:0 5px;
		}
	}
	.content{ 
		margin:30px 45px; 
		line-height:28px; 
		font-size:14px; 
		color:#555; 
		background:#fff;
		p{ 
			margin-bottom:40px; 
			text-indent:2em;
		}
		img{
			max-width: 670px;
		}
	}
}