body {
  background: #f1f1f1; }

.w1100 {
  width: 1100px;
  margin: 0 auto; }

.top {
  height: 36px;
  background: #f9f9f9;
  border-bottom: 1px solid #e8e8e8; }

.head {
  height: 80px;
  background: #fff; }
  .head .logo img {
    margin: 17px 0 0 0; }
  .head .nav a {
    width: 140px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 14px; }
  .head .nav a:hover, .head .nav .selected {
    height: 92px;
    text-decoration: underline;
    background: #3575e1;
    color: #fff; }

.banner {
  height: 450px;
  background: #666; }

.guide {
  margin-top: 30px;
  height: 72px;
  background: #3575e1; }
  .guide form {
    font-size: 14px;
    color: #fff; }
    .guide form .l {
      margin-right: 12px; }
    .guide form label {
      line-height: 36px; }
    .guide form select {
      width: 152px;
      height: 25px;
      line-height: 25px;
      border: 1px solid #fff;
      color: #696969; }
    .guide form input {
      width: 152px;
      height: 25px;
      line-height: 25px;
      padding: 0 5px;
      border: 1px solid #fff;
      color: #666; }
    .guide form a {
      display: block;
      width: 120px;
      height: 47px;
      margin-top: 14px;
      line-height: 47px;
      text-align: center;
      border: none;
      color: #fff;
      font-size: 14px;
      background: #c23d2e; }
    .guide form a:hover {
      opacity: 0.9; }
    .guide form .r {
      width: 309px;
      height: 72px;
      line-height: 72px;
      text-align: center;
      background: #c23d2e;
      font-size: 18px; }

.main {
  margin-bottom: 105px;
  padding-bottom: 1px;
  background: #fff; }
  .main h3 {
    margin: 0 35px 10px 35px;
    font-size: 22px;
    font-weight: bolder;
    text-align: left;
    color: #888; }
    .main h3 a {
      display: inline-block; }
    .main h3 span {
      font-size: 14px;
      color: #aaa;
      font-style: italic;
      font-weight: bolder; }
  .main .line {
    height: 7px;
    margin-bottom: 30px;
    background: url(../images/line.png) top center repeat-x; }
  .main .case dl {
    display: block;
    float: left;
    width: 320px;
    height: 350px;
    margin: 10px 0 0 35px; }
    .main .case dl dt img {
      width: 318px;
      height: 193px;
      border: 2px solid #fff; }
  .main .case a {
    color: #666; }
  .main .case .case-t {
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    color: #444; }
  .main .case .case-more {
    margin-top: 20px; }
    .main .case .case-more a {
      padding: 6px 15px;
      background: #e8e8e8;
      color: #888; }
    .main .case .case-more a:hover {
      background: #3575e1;
      color: #fff; }
  .main .news {
    padding-bottom: 40px; }
    .main .news .l {
      width: 480px;
      margin-left: 36px; }
    .main .news .r {
      margin-right: 36px;
      width: 480px; }
    .main .news ul {
      margin-top: 15px; }
      .main .news ul li {
        padding-left: 13px;
        height: 42px;
        line-height: 42px;
        font-size: 14px;
        border-bottom: 1px dotted #ddd;
        background: url(../images/li_style.jpg) no-repeat 0 19px; }
        .main .news ul li span {
          float: right;
          color: #999; }
      .main .news ul li:hover {
        border-bottom: 1px solid #ddd; }
  .main .ad {
    height: 150px;
    margin: 0 35px 35px 35px;
    background-color: #ddd; }

.bottom {
  height: 350px;
  background-color: #181818; }
  .bottom .w1100 {
    position: relative; }
  .bottom ul {
    padding-top: 50px; }
    .bottom ul li {
      float: right;
      margin-left: 35px;
      padding-right: 35px;
      line-height: 24px;
      border-right: 1px solid #262626; }
      .bottom ul li a:hover {
        color: #c8c8c8; }
  .bottom .erweima {
    position: absolute;
    top: -45px;
    left: 0;
    width: 280px;
    height: 320px;
    background-color: #212121; }
    .bottom .erweima p {
      margin-top: 45px;
      text-align: center; }
  .bottom .erweima-info {
    position: absolute;
    right: -15px;
    bottom: 40px;
    width: 270px;
    height: 50px;
    padding-left: 20px;
    line-height: 50px;
    font-size: 14px;
    color: #999;
    background-color: #292929; }

.footer {
  height: 46px;
  line-height: 46px;
  text-align: center;
  background-color: #0f0f0f; }

/**************************************** 
list.html
****************************************/
.list {
  margin: 20px auto 100px auto;
  border-radius: 2px 2px 0 0; }
  .list .l {
    background: #fff;
    width: 780px;
    padding-bottom: 30px;
    /*position*/
    /*list-con*/ }
    .list .l .position {
      height: 44px;
      line-height: 44px;
      padding-left: 12px;
      border-bottom: 1px solid #eee;
      color: #777; }
      .list .l .position a {
        display: inline-block;
        color: #777;
        margin: 0 3px; }
      .list .l .position a:hover {
        color: #c23d2e; }
    .list .l .list-con dl {
      display: block;
      height: 155px;
      border-bottom: 1px solid #eee;
      border-left: 5px solid #fff;
      padding: 0 15px; }
      .list .l .list-con dl a {
        text-decoration: none; }
        .list .l .list-con dl a dt {
          padding-top: 3px;
          height: 60px;
          line-height: 60px;
          font-size: 18px;
          color: #555;
          font-family: "Microsoft YaHei"; }
      .list .l .list-con dl a:hover dt {
        color: #333; }
      .list .l .list-con dl dd {
        height: 30px;
        margin-bottom: 10px; }
        .list .l .list-con dl dd span {
          float: left;
          margin: 0 15px 0 0;
          color: #666; }
      .list .l .list-con dl p {
        line-height: 18px;
        color: #666; }
    .list .l .list-con dl:hover {
      background: #fafafa;
      border-left: 5px solid #c23d2e; }
    .list .l .page {
      text-align: right;
      height: 40px;
      line-height: 40px;
      margin: 45px 25px 25px 0; }
      .list .l .page li {
        display: inline-block; }
        .list .l .page li a {
          display: inline-block;
          margin: 0 9px;
          color: #666;
          font-size: 14px; }
        .list .l .page li a:hover {
          color: #c23d2e; }
      .list .l .page .thisclass a {
        color: #c23d2e; }
  .list .r {
    width: 310px;
    background: #fff;
    padding: 0 15px;
    /*tj-new*/
    /*tj-zhuti*/ }
    .list .r .list-contact dl {
      text-align: center;
      margin-bottom: 30px; }
      .list .r .list-contact dl dt {
        margin: 35px 0 10px 0; }
      .list .r .list-contact dl dd {
        line-height: 22px; }
    .list .r .subnav {
      padding: 0;
      margin-bottom: 15px; }
      .list .r .subnav li {
        padding: 0 5px; }
      .list .r .subnav a {
        display: block;
        height: 32px;
        line-height: 32px;
        padding-left: 10px;
        margin: 0 0 9px 0;
        color: #888;
        background: #e8e8e8; }
      .list .r .subnav a:hover {
        background: #c23d2e;
        color: #fff;
        text-decoration: none; }
    .list .r h3 {
      font-size: 16px;
      display: block;
      height: 44px;
      line-height: 44px;
      margin-bottom: 15px;
      padding-left: 1px;
      border-bottom: 1px solid #eee;
      color: #555; }
    .list .r nav li {
      padding: 0 5px; }
      .list .r nav li a {
        display: block;
        height: 32px;
        line-height: 32px;
        padding-left: 10px;
        margin: 0 0 9px 0;
        color: #888;
        background: #e8e8e8; }
      .list .r nav li a:hover {
        background: #1abc9c;
        color: #fff;
        text-decoration: none; }
    .list .r .tj-new {
      padding-bottom: 10px; }
      .list .r .tj-new li {
        display: block;
        height: 30px;
        line-height: 30px;
        padding-left: 20px;
        background: url(../images/li_style.jpg) no-repeat 8px 12px; }
        .list .r .tj-new li span {
          float: right;
          color: #999; }
        .list .r .tj-new li a {
          color: #555; }
        .list .r .tj-new li a:hover {
          color: #c23d2e;
          text-decoration: underline; }
    .list .r .tj-zhuti {
      margin-bottom: 15px;
      text-align: center; }
      .list .r .tj-zhuti dd {
        line-height: 30px;
        font-size: 14px; }
        .list .r .tj-zhuti dd a:hover {
          color: #1abc9c; }
      .list .r .tj-zhuti img {
        width: 255px;
        height: 155px;
        border: 2px solid #fff; }
      .list .r .tj-zhuti img:hover {
        border: 2px solid #c23d2e; }

/**************************************** 
content.html
****************************************/
.show {
  min-height: 700px; }
  .show h3 {
    height: 40px;
    line-height: 40px;
    margin: 40px 0 10px 0;
    font-size: 30px;
    color: #444;
    text-align: center;
    font-family: "Microsoft YaHei"; }
  .show h4, .show h5 {
    line-height: 40px;
    line-height: 40px;
    color: #999;
    text-align: center; }
  .show h4 i {
    margin: 0 5px; }
  .show .content {
    margin: 30px 45px;
    line-height: 28px;
    font-size: 14px;
    color: #555;
    background: #fff; }
    .show .content p {
      margin-bottom: 40px;
      text-indent: 2em; }
    .show .content img {
      max-width: 670px; }

/*# sourceMappingURL=css.css.map */
