/******************** base css ********************/
*,*:after,*:before{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html,body,div,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,table,tr,th,td,strong,b,i,em,span{ font-weight: normal; margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
body,button,input,select,textarea{ font-size: 0.73rem; font-family:"Microsoft YaHei"; color: #333;}
li{ list-style:none;}
a{ display: block; text-decoration:none; outline: none; color: #444;}
a:hover{ text-decoration: underline;}
input,textarea,select,a:focus{ outline: none;}
img{ vertical-align:top; border:0; *margin-bottom:-5px;}
i,em{ font-style: normal;}
input{-webkit-appearance: none;}

/******************** col ********************/
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-2-2,.col-3-3,.col-4-4,.col-5-5{ display: block; float: left;}

/******************** col-n ********************/
.col{ width: 100%;}
.col-1{ width: 10%;}
.col-2{ width: 20%;}
.col-3{ width: 30%;}
.col-4{ width: 40%;}
.col-5{ width: 50%;}
.col-6{ width: 60%;}
.col-7{ width: 70%;}
.col-8{ width: 80%;}
.col-9{ width: 90%;}
.col-2-2{ width: 50%;}
.col-3-3{ width: 33.333333%;}
.col-4-4{ width: 25%;}
.col-5-5{ width: 20%;}

/******************** float clear ********************/
.l{ display: block; float: left;}
.c{ display: block; float: left;}
.r{ display: block; float: right;}
.left{ display: block; float: left;}
.center{ display: block; float: left;}
.right{ display: block; float: right;}
.clearfix { *zoom: 1;}
.clearfix:before,.clearfix:after{ display: table; height:0; line-height: 0; content: "";}
.clearfix:after{ clear: both;}

/******************** inline list ********************/
.list-ver li,.list-ver li a,.dl-ver,.dl-ver dt,.dl-ver dd{ display: block; float: left;}

/* transition */
.transition{ transition:all 0.3s ease 0s;}