body{ background-color: #f4f4f4;}

.container{ width: 1200px; margin: 0 auto;}
.w1184{ width: 1184px; margin: 0 auto;}
.fz-12{ font-size: 12px;}

/*top*/
.top{ height: 55px; line-height: 55px; background-color: #222; color: #999;}
.top a{ color: #999; font-size: 14px; margin: 0 7px 0 50px;}
.top a:hover{ color: #fff; text-decoration: none;}
.top .l{ margin-left: 7px;}

.screening{ width: 1184px; margin-top: 20px; padding: 11px 20px; background-color: #fff;}
.screening ul li{ height: 38px; line-height: 38px; font-size: 14px; color: #444;}
.screening ul li a{ height: 30px; line-height: 30px; margin-top: 4px; margin-left: 7px; padding: 0 17px;}
.screening ul li a.selected,.screening ul li a:hover{ background-color: #e74e3d; color: #fff; text-decoration: none;}

/*talents*/
.talents .col-4-4{ margin-top: 20px; padding: 0 8px; text-decoration: none; cursor: pointer;}
.talents a{ border-bottom: 4px solid #eee;}
.talents a:hover{ box-shadow: 0 5px 15px #ccc; border-bottom: 4px solid #ccc; text-decoration: none;}
.talents a:hover .title{ color: #e74e3d; text-decoration: underline;}
.talents a:hover .items span{ color: #e74e3d; font-weight: bolder;}
.talents .icon{ height: 284px; background-color: #ddd;}
.talents .items{ padding: 14px 14px 20px 15px; color: #666; line-height: 27px; background-color: #fff;}
.talents .items .title{ margin: 7px 0 10px 0; font-size: 18px; font-weight: bolder;}
.talents .items .border-l3{ height: 12px; line-height: 12px; margin: 15px 0 0 0; border-left: 3px solid #ddd;}

/*company*/
.company{ margin: 20px auto;}
.company .col-3-3{ text-decoration: none;}
.company .item{ position: relative; background-color: #fff; margin: 0 8px 25px 8px; padding: 20px 20px 55px 20px; border:1px solid #e5e5e5;}
.company .item:hover{ border:1px solid #e74e3d;}
.company .item dl dt{ width: 130px; height: 130px; margin-right: 15px; background-color: #ddd;}
.company .item dl dd h4{ margin: 3px 0 8px 0; font-size: 16px; line-height: 32px; font-weight: bolder;}
.company .item dl dd p{ line-height: 20px; margin-left: 3px; margin-top: 5px; color: #555;}
.company .item .describe{ height: 44px; margin-top: 16px; line-height: 22px; color: #666; font-size: 12px;}
.company .item .bottom{ position: absolute; height: 40px; line-height: 40px; left: 0; right: 0; bottom: 0; padding: 0 15px; background-color: #f4f4f4;}
.company .item:hover .bottom{ background-color: #e74e3d; color: #fff;}
.company .item:hover h4{ color: #e74e3d; text-decoration: underline;}

/*page*/
.page { text-align: right; height: 40px; line-height: 40px; margin: 45px 25px 25px 0; }
.page li { display: inline-block; }
.page li a { display: inline-block; margin: 0 9px; color: #666; font-size: 14px; }
.page .thisclass a, .page li a:hover { color: #e74e3d; }

/* copyright */
.copyright { border-top: 1px solid #e5e5e5; color: #555; line-height: 23px; text-align: center; padding: 25px 0; margin-top: 50px; }

/********** register **********/
.color-fff{ color: #fff;}
.btn-180{ display: block; height: 42px; line-height: 42px; width: 180px; text-align: center; font-size: 14px; background-color: #e74e3d;}
.register{ margin: 45px auto; padding: 120px 60px 120px 60px; border:1px solid #eee; background-color: #fff; color: #666;}
.register:hover{ box-shadow: 0 5px 15px #eee;}
.register h4{ font-size: 18px; margin-bottom: 30px;}
.register .l{ width: 600px; border-right: 1px solid #eee;}
.register form{ font-size: 14px;}
.register form .form-list{ height: 40px; line-height: 40px; margin-bottom: 32px;}
.register form label{ width: 90px; padding-right: 12px; text-align: right;}
.register form input{ width: 380px; padding: 0 7px; border: 1px solid #ddd; height: 40px; font-size: 14px; color: #666; line-height: 40px;}
.register form input[type='submit']{ background-color: #e74e3d; border: none; color:#fff; font-size: 16px;}
.register form input[type='submit']:hover{ opacity: 0.9; cursor: pointer;}
.register .r{ width: 370px;}
